@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
html,
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

*:has(p, i, article, h1, h2, h3, h4, h5, h6)::selection {
  background: rgba(144, 238, 144, 0.814);
  color: black;
}

img::selection,
.icon {
  background: transparent;
}
.sidebar-lv1 > .active,
.side-bar2-active-link {
  background-color: #fe802c;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
